
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}



.main {
  flex: 1;
  width: 100%;
}
