.formCont{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;
background-color: blueviolet;
max-width: fit-content;
margin: 0.5rem;
padding: 1rem;
border-radius: 1rem;
}
.inputTitle{color:rgb(128, 202, 245);
margin-bottom: 0.5rem;}
.formSelect{
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
}
.inputCont{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;

padding: 1rem;
border-radius: 1rem;
}
.formPar{
  margin-top: 0.5rem;
  color: red;
  font-weight: 700;
}