.pageCont{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
  align-items: center;
  height: 100vh ;
}
.pageTitle{
  color: rgb(233, 238, 158);
  font-size: 2rem;
}
.pageLink{
  color: rgb(233, 238, 158);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 400;
}
.pageLink:hover{
  font-weight: 900;
  color: rgb(21, 128, 0);
}