.formCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  }
  .formCont input{
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .formCont button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(28, 224, 28);
    font-size: 1rem;
  }