.mainCont{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 3rem;
  padding: 2rem;
  background-color: rgb(233, 233, 206);
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(229, 157, 69);
}