.postFormMainCont{
  display: flex;
  flex-direction: column;
    gap: 1rem;
  background-color: rgba(125, 159, 255, 1);

  align-items: center;
  margin:  0 3rem 0 6rem;
  padding: 2rem;
  min-height: 100%;
}

.postFormCont{
    display: flex;
 
    gap: 1rem;
  background-color: rgba(125, 159, 255, 1);
  justify-content: center;
 
background-color: rgba(75, 106, 205, 1);
padding: 2rem;
margin: 2rem;
border-radius: 0.5rem;
}
.formPost{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.postFormAvatar{
   width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.postFormInputCont{
  background-color: rgba(120, 124, 131, 0.3);
  padding: 2rem;
}
.formPostBtnCont{
  min-width: 100%;
  display: flex;
  justify-content: end;
}
.formPostBtn{
  padding: 0.5rem;
  background-color: rgba(50, 88, 142, 1);
  font-weight: 600;
  cursor: pointer;
}
.postFormLabel{
  margin-top: 0.5rem;
}
.postFormInput{
  background-color:transparent ;
  border: none;
  border-bottom: 0.01rem solid rgba(5, 25, 54, 0.5);
  outline: none;
   padding: 0.5rem 0;           
  color: black; 
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;

}
.postFormInput::placeholder {
  color: rgba(5, 25, 54, 1);   
  opacity: 1;
}