.promoSection{
  background-image: url("/images/mainBild.png");
  min-height: 37.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.promoOverlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.promoContent{
  position: relative; 
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
