.headerCont{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgba(63, 92, 192, 1);
  padding: 0.2rem;
}

.linkCont{
  flex: 1;                 
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1rem;

 
} 
.logoImg {
  width: 9rem; 
  flex: 0 0 auto;
  max-width: 5rem;
  margin-left: 3rem;
 

}
.linkItem{
   
    border-right: 0.05rem solid rgba(0, 0, 0, 0.2);
    margin:1rem 0 ;
    color: black;
    font-size: 600;
    text-decoration: none;
     padding: 0 1.5rem  0 1rem;
   
    
  }

  .linkItem:last-child {
  border-right: none;
}