.mainCont{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;
background-color: blueviolet;
max-width: fit-content;
margin: 2rem;
padding: 1rem;
border-radius: 1rem;
}

.mainTitle{
 color:rgb(128, 202, 245);
}