.postListCont{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(125, 159, 255, 1);
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  padding: 2rem;
 
}
.listTitle{
  margin-bottom: 3rem;
}
.postItemCont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btnNavCont{
  display:flex ;
  gap: 0.5rem;
}
.btnNav{
  background-color: rgba(75, 106, 205, 1);
  border-radius: 0.8rem;
  padding: 0.5rem;
  min-width: 5rem;
  font-weight: 600;
  cursor: pointer;
  
}