.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgb(214, 211, 211);
  border-radius: 1rem; 
}

.imageWrap {
  position: relative;
  width: 100%;
}

.cardImg {
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  object-position: center;

  background: #f2f2f2;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid rgb(214, 211, 211);
}

.badge {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.3125rem 0.5rem;
  border-radius: 0.375rem;

  background: #0d50ff;
  color: #fff;

  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
}

.cardTitle {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: #222;
  padding: 0.5rem;
}

.priceRow {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  width: 100%;
  padding: 1rem;
}

.priceNew {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  color: #111;
}


.priceOld {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  color: #111;
}


.priceOldLine {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
  color: #999;
  text-decoration: line-through;
}
.btnAdd,
.btnAdded {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  height: 3.2rem;
  border: 0;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
}

.btnAdd {
  background: #0b60ff;
  color: #fff;
}

.btnAdd:hover {
  filter: brightness(0.95);
}

.btnAdded {
  background: #0f0f0f;
  color: #fff;
  cursor: default;
}


@media (max-width: 48rem) {
  .cardTitle {
    font-size: 0.9375rem;
  }

  .badge {
    top: 0.625rem;
    right: 0.625rem;
    font-size: 0.8125rem;
  }

  .priceNew {
    font-size: 1.5rem;
  }

  .priceOld {
    font-size: 1.5rem;
  }

  .priceOldLine {
    font-size: 0.9375rem;
  }
}
