.postCont{
  display: flex;
  background-color: rgba(75, 106, 205, 1);
  gap: 1rem;
 width: 100%;
  box-sizing: border-box;
  border-radius: 0.8rem;
  padding: 1rem;
  flex: 1 1 100%;

}
.postAvatarCont{
  display: flex;
 flex: 1;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;

}
.postImg{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.postContentCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  gap: 0.5rem;
}
.postBtnCont{
  flex: 1;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}
.postBtn{
  padding: 0.5rem;
  background-color: rgba(50, 88, 142, 1);
  font-weight: 600;
  cursor: pointer;
}