.contacts {
  width: 100%;
  padding: 3rem 0;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.left h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 52rem;
}

.form input {
  height: 2.75rem;
  padding: 0 1rem;

  background: #f3f3f3;
  border: none;
  font-size: 0.875rem;
}

.message {
  width: 100%;
}

.submit {
  width: 10rem;
  height: 2.5rem;

  align-self: flex-end;

  background: #111;
  color: #fff;
  border: none;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: flex-start;

 margin-top: 7.25rem;
}

.socialCard {
  width: 100%;
  padding: 1.5rem;
  background: #f3f3f3;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socialTitle {
  margin: 0;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.snapchat {
  background: #fffc00;
}

.socials img {
  width: 2.25rem;
  height: 2.25rem;
}
