.userCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  }
  .userCont h2{
    color: rgb(56, 56, 58);
  }
  .userCont button{
    padding: 0.5rem;
     border-radius: 0.5rem;
    background-color: rgb(28, 224, 28);
    font-size: 1rem;
  }