.navBar {
  background-color: #3c3c3c;
  color: #ffffff;
  height: 3.75rem;       
  display: flex;
  align-items: center;
}


.navbarCont {
  max-width: 75rem;      
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 0.875rem;  
  font-weight: 700;
}


.nav {
  display: flex;
  gap: 2rem;              
}

.nav a {
  font-size: 0.875rem;  
  color: #cfcfcf;
  text-decoration: none;
  transition: color 0.2s ease;
}


.nav a:hover {
  color: #ffffff;
}


