.formCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: blueviolet;
  max-width: fit-content;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
input {
  border-radius: 0.5rem;
  border: 0.2rem solid rgb(192, 137, 218);
  padding: 0.2rem;
}
.formBtn {
  padding: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  max-width: fit-content;
  color: aliceblue;
  background-color: rgb(139, 8, 172);
}
