.mainCont{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(150, 220, 255, 1);
  width: 100%;
  height: 100%;
justify-content: center;
padding:4rem 0 ;
}
.listCont{
  flex: 2;
  margin-left: 6rem;
  
}
.formCont{
  flex: 1;
}